.apps {
  width: 100%;
  margin-top: 67%;
}

.apps__menu {
  padding: 20px 0;
}

.apps__title {
  margin: 0 35px;
}

.apps__app {
  display: flex;
  justify-content: space-between;
  padding: 15px 0 15px 35px;
  position: relative;
  border-bottom: 1px solid $lightGrey;
  background: #000;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
  }

  &:last-of-type {
    border-bottom: none;
  }
}

.apps__app__buttons {
  margin-right: -15px;
}

.apps__app-add,
.apps__app-remove {
  border: 2px solid #fff;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 400;
  vertical-align: top;
  padding: 0;
  background: none;
  color: #fff;
}

.apps__app--hadoop {
  &:before { background-color: $hadoop; }

  .apps__app-add {
    background: linear-gradient(135deg, $hadoop 0%, $hadoop2 100%);
    border: none;
  }
}
.apps__app--rails {
  &:before { background-color: $rails; }

  .apps__app-add {
    background: linear-gradient(135deg, $rails 0%, $rails2 100%);
    border: none;
  }
}
.apps__app--chronos {
  &:before { background-color: $chronos; }

  .apps__app-add {
    background: linear-gradient(135deg, $chronos 0%, $chronos2 100%);
    border: none;
  }
}
.apps__app--storm {
  &:before { background-color: $storm; }

  .apps__app-add {
    background: linear-gradient(135deg, $storm 0%, $storm2 100%);
    border: none;
  }
}
.apps__app--spark {
  &:before { background-color: $spark; }

  .apps__app-add {
    background: linear-gradient(135deg, $spark 0%, $spark2 100%);
    border: none;
  }
}

@media only screen and (max-width:768px) {
  .apps {
    margin-top: 20px;
  }

  .apps__app__buttons {
    margin-right: 15px;
  }
}
