$darkGrey: #1e1e1e;
$lightGrey: #646464;

$hadoop: #f707a5;
$hadoop2: #c10eca;
$rails: #3c2dee;
$rails2: #6224e3;
$chronos: #01aafd;
$chronos2: #008be9;
$storm: #2ce19c;
$storm2: #60e531;
$spark: #69fa1a;
$spark2: #63e92b;
